
.navBar{
  display: flex;
  background-color: aliceblue;
  width: 100%;
}

.logo,.navigation{
  width: 50%;
}

.logo img{
  width: 200px;
  height: 70px;
  object-fit: contain;
  border-radius: 50%;

}

.navigation ul{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 0.8rem;
}

.navigation li{
  list-style-type: none;
}
/* main page */


.text-wrapper{
  background-image: url('./images/wd1.jpeg');
  background-size: 100%;
  width: 100%;
  height: 500px;
  text-align: center;
  padding-top:10rem;
  background-repeat: no-repeat;
  object-fit: contain;
}

/* projects */
.weather-img,.meal-sharing-img, .simply-spices-img, .search-product-img{
  height: 500px;
  width: 100%;
}

.weather{
  display: flex;
  justify-content:space-around;
  background-color: antiquewhite;
  padding:2rem 1rem;
}

.meal-sharing{
  display: flex;
  justify-content:space-around;
  background-color: rgb(71, 162, 169);
  padding:2rem 1rem;
  color: white;
}

.meal-sharing >div, .simply-spices>div, .search-product>div{
  width: 50%;
}

.simply-spices{
    display: flex;
    justify-content:space-around;
    background-color: antiquewhite;
    padding:2rem 1rem;
  }

  .search-product{
    display: flex;
    justify-content:space-around;
    background-color: rgb(71, 162, 169);
    padding:2rem 1rem;
    color: white;
  }


